/* styles.css */

body {
  padding: 1%;
  background-image: url("Photos/PG1 - Dark Grey Sand Background.png");
}

#top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* nav */
.navinfo{
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: flex-start;
  color: white;
}

.navinfo a{
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 25px;
}

/* logo */
.logo{
  display: flex;
  flex-basis: 40%;
  justify-content: center;
}

.logo img{
  width: 200px;
  height: 50px;
}

/* icons */
.icons{
  display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}

.icons-img{
  width: 25px;
  height: 25px;
}

#middle{
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* maincontent */
.maincontent {
  display: flex;
  justify-content:center
}

.maincontent img {
  width: 50%;
  max-height: 380px;
}

/* ticket */
.seccontent {
  display: flex;
  justify-content: center;
}

.seccontent img {
  width: 95%;
}

/* ... */
h1 {
  color: white;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #333;
  padding: 20px;
  box-sizing: border-box; 
}

footer .footerpic {
  display: flex;
  justify-content: space-around;
}
