/* (HOME) styles.css*/

body {
  padding: 5px;
  background-image: url("Photos/PG1 - Dark Grey Sand Background.png");
}

#top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* nav */
.navinfo{
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content:space-between;
  color: white;
}

.navinfo a{
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* logo */
.logo{
  display: flex;
  flex-basis: 60%;
  justify-content: center;
}

.logo img{
  width: 200px;
  height: 50px;
}

/* icons */
.icons{
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content:flex-end;
}

.icons-img{
  width: 25px;
  height: 25px;
}

#middle{
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* maincontent */
.maincontent {
  display: flex;
  justify-content: center;
}

.maincontent img {
  width: 50%;
  max-height: 480px;
}

/* seccontent: ticket */
.seccontent {
  display: flex;
  justify-content: center;
}

.seccontent img {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 10px;
}

/* Text */
h1 {
  color: white;
  text-align: center;
  font-size: 45px;
}

/* Buy Ticket Button */
#ticketButton {
  width: 100%;
}

.getTicket{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content:center;
  text-align: center;
  font-size: 15px;
  color: white;
}

.getTicket a{
  margin: auto;  
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
}

/* footer */
#bottom{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.lastcontent {
  display: flex;
  justify-content:space-between;
}

.lastcontent img{
  width: 25%;
  max-height: 380px;
}

.greenday {
  display: flex;
  justify-content:center;
}

.greenday img{
  width: 100%;
  max-height: 450px;
}


/* (TOUR) styles.css */
#tourtop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour nav */
.tournavinfo{
  display: flex;
  flex-direction: row;
  flex-basis:20%;
  justify-content:space-between;
  color: white;
}

.tournavinfo a{
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* Tour icons */
.touricons{
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content:right;
}

.touricons img{
  width: 25px;
  height: 25px;
}

#Heading {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour Logo */
.TourLogo{
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  justify-content:left;
}

.TourLogo img{
  padding-top: 20px;
  padding-bottom: 40px;
  width: 550px;
  height: 80px;
}

.detour a{
  font-size: 40px;
  color: white;
}

.detour{
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  flex-basis: 30%;
  justify-content:left;
}

/* Tour search bar */
.searchbar a{
  font-size: 20px;
  color: white;
}

.searchbar{
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 8px;
  flex-basis:40%;
  justify-content: end;
}

/* Tour - Middle */
#tourMiddle {
  background-image: url("Photos/tourblur.png");
  display: flex;
  flex-direction: column;
  width: 100%;
}

.middleText a{
  font-size: 50px;
  color: white;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 50px;
} 

.middleTicket {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middleTicket img {
  max-height: 480px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
}


/* Tour details */
.tourDetails1 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails1 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails2 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails2 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails3 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails3 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails4 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails4 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails5 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails5 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails6 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails6 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails7 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails7 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails8 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails8 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails9 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails9 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails10 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails10 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails11 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails11 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails12 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails12 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails13 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.tourDetails13 a{
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* (MUSIC) styles.css*/
#musictop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour nav */
.musicnavinfo{
  display: flex;
  flex-direction: row;
  flex-basis:20%;
  justify-content:space-between;
  color: white;
}

.musicnavinfo a{
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* Tour icons */
.musicicons{
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content:right;
}

.musicicons img{
  width: 25px;
  height: 25px;
}

#MusicHeading {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour Logo */
.MusicLogo{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content:right;
}

.MusicLogo img{
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 350px;
  width: 550px;
  height: 80px;
}

.demusic a{
  font-size: 40px;
  color: white;
}

.demusic{
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  flex-basis: 50%;
  justify-content:left;
}
