/* (HOME) styles.css.....................................................*/

body {
  background-image: url("Photos/PG1 - Dark Grey Sand Background.png");
}

#top {
  background-image: url("Photos/PG1 - Dark Grey Sand Background.png");
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* nav */
.navinfo {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
  color: white;
}

.navinfo a {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* remove decorated link and colours */
.navinfo a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* hover over navigation */
.navinfo a:hover {
  color: rgb(186, 14, 114);
}

/* logo */
.logo {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
}

.logo img {
  width: 200px;
  height: 50px;
}

/* icons */
.icons {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: flex-end;
}

.icons-img {
  width: 25px;
  height: 25px;
}

#middle {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* maincontent */
.maincontent {
  display: flex;
  justify-content: center;
}

.maincontent img {
  width: 50%;
  height: 480px;
}

.maincontent video {
  width: 50%;
  height: 480px;
}

/* seccontent: ticket */
.seccontent {
  display: flex;
  justify-content: center;
}

.seccontent img {
  width: 95%;
  padding-top: 25px;
  padding-bottom: 10px;
}

/* Text */
h1 {
  color: white;
  text-align: center;
  font-size: 45px;
}

/* Buy Ticket Button */
#ticketButton {
  width: 100%;
}

.getTicket {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: white;
}

/* hover over animation */
.getTicket a:hover {
  border: 1px solid rgb(186, 14, 114);
  background-color: rgb(186, 14, 114);
  font-size: 23px;
}

.getTicket a {
  margin: auto;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(255, 255, 255);
}

/* footer */
#bottom {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.lastcontent {
  display: flex;
  justify-content: space-between;
}

.lastcontent img {
  width: 25%;
  max-height: 380px;
}

.greenday {
  display: flex;
  justify-content: center;
}

.greenday img {
  width: 100%;
  max-height: 450px;
}


/* (TOUR) styles.css.....................................................*/
#tourtop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour nav */
.tournavinfo {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
  color: white;
}

.tournavinfo a {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* remove decorated link and colours */
.tournavinfo a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* hover over navigation */
.tournavinfo a:hover {
  color: rgb(186, 14, 114);
}

/* Tour icons */
.touricons {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: right;
}

.touricons img {
  width: 25px;
  height: 25px;
}

#Heading {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Tour Logo */
.TourLogo {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: left;
}

.TourLogo img {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 550px;
  height: 80px;
}

.detour a {
  font-size: 40px;
  color: white;
}

.detour {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  flex-basis: 30%;
  justify-content: left;
}

/* Tour search bar */
.searchbar a {
  font-size: 20px;
  color: white;
}

.searchbar {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 8px;
  flex-basis: 40%;
  justify-content: end;
}

/* Tour - Middle */
#tourMiddle {
  background-image: url("Photos/tourblur.png");
  display: flex;
  flex-direction: column;
  width: 100%;
}

.middleText a {
  font-size: 50px;
  color: white;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 50px;
}

.middleTicket {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middleTicket img {
  max-height: 480px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
}


/* Tour details */
.tourDetails1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails1 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails1 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails2 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails2 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails3 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails3 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails4 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails4 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails5 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails5 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails6 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails6 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails7 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails7 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails8 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails8 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails9 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails9 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails10 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails10 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails10 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails11 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails11 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails11 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails12 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails12 a:hover {
  color: rgb(186, 14, 114);
}

.tourDetails13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tourDetails13 a {
  font-size: 40px;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tourDetails13 a:hover {
  color: rgb(186, 14, 114);
}

/* (MUSIC) styles.css.....................................................*/
#musictop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Music nav */
.musicnavinfo {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
  color: white;
}

.musicnavinfo a {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* remove decorated link and colours */
.musicnavinfo a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* hover over navigation */
.musicnavinfo a:hover {
  color: rgb(186, 14, 114);
}

/* Music icons */
.musicicons {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: right;
}

.musicicons img {
  width: 25px;
  height: 25px;
}

#MusicHeading {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Music Logo */
.MusicLogo {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  justify-content: right;
}

.MusicLogo img {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 370px;
  width: 550px;
  height: 80px;
}

/* Music Text */
.demusic a {
  font-size: 40px;
  color: white;
}

.demusic {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  flex-basis: 50%;
  justify-content: left;
}

/* Music Youtube */
#MusicListen {
  background-image: url("Photos/MusicProfile.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* Music Platforms */
.middlelogo {
  display: flex;
  justify-content: space-between;
  padding-top: 12%;
  padding-bottom: 12%;
  padding-right: 170px;
  padding-left: 110px;
  flex-basis: 100%;
}

.middlelogo img {
  max-height: 100px;
}

#MusicVideo {
  background-image: url("Photos/tourblur.png");
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.music {
  display: flex;
  justify-content: center;
  padding-top: 12%;
  padding-bottom: 8%;
  padding-right: 150px;
  padding-left: 150px;
  flex-basis: 100%;
}

/* (STORE) styles.css.....................................................*/
#storetop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Store nav */
.storenavinfo {
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  justify-content: space-between;
  color: white;
}

.storenavinfo a {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  font-size: 22px;
}

/* remove decorated link and colours */
.storenavinfo a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* hover over navigation */
.storenavinfo a:hover {
  color: rgb(186, 14, 114);
}

/* Store icons */
.storeicons {
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: right;
}

.storeicons img {
  width: 25px;
  height: 25px;
}

#StoreHeading {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Store Logo */
.StoreLogo {
  display: flex;
  flex-direction: row;
  flex-basis: 30%;
  justify-content: left;
}

.StoreLogo img {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 550px;
  height: 80px;
}

.destore a {
  font-size: 40px;
  color: white;
}

.destore {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  flex-basis: 30%;
  justify-content: left;
}

/* Store search bar */
.storeSearchbar a {
  font-size: 20px;
  color: white;
}

.storeSearchbar {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  padding-bottom: 8px;
  flex-basis: 40%;
  justify-content: end;
}

/* Store Merch */
#StoreBottom {
  background-image: url("Photos/storewhite.png");
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Merch1Column*/
.Merch1 {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Merch1 img {
  width: 25%;
  max-height: 380px;
}

.Merch1 :hover {
  width: 26%;
  max-height: 380px;
}

.Merch1text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.Merch1text {
  font-size: 15px;
}

.Merch1price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 140px;
}

.Merch1price {
  font-size: 15px;
}

/* Merch2Column*/
.Merch2 {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Merch2 :hover {
  width: 26%;
  max-height: 380px;
}

.Merch2 img {
  width: 25%;
  max-height: 380px;
}

.Merch2text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.Merch2text {
  font-size: 15px;
}

.Merch2price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 140px;
}

.Merch2price {
  font-size: 15px;
}

/* Merch3Column*/
.Merch3 {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Merch3 :hover {
  width: 36%;
  max-height: 410px;
}

.Merch3 img {
  width: 35%;
  max-height: 410px;
}

.Merch3text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.Merch3text {
  font-size: 15px;
}

.Merch3price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 265px;
  padding-right: 230px;
}

.Merch3price {
  font-size: 15px;
}